# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.cache/

# Venvs
venv/
.env/
.cb-ven/
cb-ven/
.venv/

# Editor/OS
.idea/
.vscode/
.DS_Store

# Data / indexes
vectorstore/
data/
eval/*.csv

# Large / misc
#logs/

# Git
.git
.gitignore